# Secret Keys
secret.py

# Google Cloud Keys
TeamOrangeProject-72f555abd04f.json

# Google Cloud Source Code
google-cloud-sdk
credentials.csv

# Unversioned Files
.idea/
teamorangeproject-220020-sa.json
venv/
